* {
    margin: 0;
    padding: 0;
    background-color: rgb(130, 207, 16);
    text-align: center;
}


h1 {
   
    font-style: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: rgb(4, 4, 81);
    height: 5rem;
    line-height: 5rem;
 
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
  
   
}

.choice {
    height: 200px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}


#msg {
    background-color: rgb(4, 4, 81);
    color: white;
    font-size: 1rem;
    display: inline;
    margin-top: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    border-radius: 2rem;
}